BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
SortIncludes: Never
AllowShortIfStatementsOnASingleLine: Never
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
